body {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 50px;
}

.sylet {
    color: orangered;
}

.imran {
    text-align: justify;

}

section {
    display: flex;
}

.di {
    width: 50%;

    padding: 4%;
}

.di img {
    width: 100%;
    height: 100%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orangered, rgb(160, 74, 43));
    padding: 10px 40px;
    border-radius: 15px;
    color: bisque;
    font-weight: 800;
}

.sum {
    width: 50%;
}

.sum img {
    width: 100%;
    height: 70%;
}

.con {
    width: 50%;
    padding: 20px;
    color: rgb(194, 2, 2);
    box-shadow: 10px 10px 30px coral;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border-left: 8px solid tomato;
}

#laxm {
    width: 50%;
    padding: 20px;
    color: rgb(145, 255, 0);
    box-shadow: 10px 10px 30px rgb(47, 12, 143);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border-left: 8px solid rgb(102, 10, 102);
}

#lax {
    width: 50%;
    padding: 20px;
    color: rgb(194, 2, 2);
    box-shadow: 10px 10px 30px coral;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border-left: 8px solid tomato;
}

footer p {
    text-align: center;
}